In [122]:
# using liver patients dataframe for KNN algorithm
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns


from sklearn.model_selection import train_test_split
from sklearn.cluster import KMeans
from sklearn.preprocessing import MinMaxScaler
%matplotlib inline

In [97]:
df = pd.read_csv('../data/voice.csv')

In [98]:
df.head(3)

,meanfreq,sd,median,Q25,Q75,IQR,skew,kurt,sp.ent,sfm,...,centroid,meanfun,minfun,maxfun,meandom,mindom,maxdom,dfrange,modindx,label
0,0.059781,0.064241,0.032027,0.015071,0.090193,0.075122,12.863462,274.402905,0.893369,0.491918,...,0.059781,0.084279,0.015702,0.275862,0.007812,0.007812,0.007812,0.000000,0.000000,male
1,0.066009,0.067310,0.040229,0.019414,0.092666,0.073252,22.423285,634.613855,0.892193,0.513724,...,0.066009,0.107937,0.015826,0.250000,0.009014,0.007812,0.054688,0.046875,0.052632,male
2,0.077316,0.083829,0.036718,0.008701,0.131908,0.123207,30.757155,1024.927705,0.846389,0.478905,...,0.077316,0.098706,0.015656,0.271186,0.007990,0.007812,0.015625,0.007812,0.046512,male

In [99]:
df.isnull().sum()

meanfreq    3
sd          3
median      1
Q25         3
Q75         1
IQR         8
skew        1
kurt        2
sp.ent      5
sfm         2
mode        2
centroid    2
meanfun     6
minfun      3
maxfun      1
meandom     2
mindom      2
maxdom      4
dfrange     2
modindx     1
label       0
dtype: int64

In [100]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3168 entries, 0 to 3167
Data columns (total 21 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   meanfreq  3165 non-null   float64
 1   sd        3165 non-null   float64
 2   median    3167 non-null   float64
 3   Q25       3165 non-null   float64
 4   Q75       3167 non-null   float64
 5   IQR       3160 non-null   float64
 6   skew      3167 non-null   float64
 7   kurt      3166 non-null   float64
 8   sp.ent    3163 non-null   float64
 9   sfm       3166 non-null   float64
 10  mode      3166 non-null   float64
 11  centroid  3166 non-null   float64
 12  meanfun   3162 non-null   float64
 13  minfun    3165 non-null   float64
 14  maxfun    3167 non-null   float64
 15  meandom   3166 non-null   float64
 16  mindom    3166 non-null   float64
 17  maxdom    3164 non-null   float64
 18  dfrange   3166 non-null   float64
 19  modindx   3167 non-null   float64
 20  label     3168 non-null   object
dtypes: float64(20), object(1)
memory usage: 519.9+ KB

In [101]:
df.columns

Index(['meanfreq', 'sd', 'median', 'Q25', 'Q75', 'IQR', 'skew', 'kurt',
       'sp.ent', 'sfm', 'mode', 'centroid', 'meanfun', 'minfun', 'maxfun',
       'meandom', 'mindom', 'maxdom', 'dfrange', 'modindx', 'label'],
      dtype='object')

In [102]:
cols = ['meanfreq', 'sd', 'median', 'Q25', 'Q75', 'IQR', 'skew', 'kurt',
       'sp.ent', 'sfm', 'mode', 'centroid', 'meanfun', 'minfun', 'maxfun',
       'meandom', 'mindom', 'maxdom', 'dfrange', 'modindx','label']

In [103]:
df.isnull().sum()

meanfreq    3
sd          3
median      1
Q25         3
Q75         1
IQR         8
skew        1
kurt        2
sp.ent      5
sfm         2
mode        2
centroid    2
meanfun     6
minfun      3
maxfun      1
meandom     2
mindom      2
maxdom      4
dfrange     2
modindx     1
label       0
dtype: int64

In [104]:
df  = df.dropna()

In [105]:
df.isnull().sum()

meanfreq    0
sd          0
median      0
Q25         0
Q75         0
IQR         0
skew        0
kurt        0
sp.ent      0
sfm         0
mode        0
centroid    0
meanfun     0
minfun      0
maxfun      0
meandom     0
mindom      0
maxdom      0
dfrange     0
modindx     0
label       0
dtype: int64

In [106]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3130 entries, 0 to 3167
Data columns (total 21 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   meanfreq  3130 non-null   float64
 1   sd        3130 non-null   float64
 2   median    3130 non-null   float64
 3   Q25       3130 non-null   float64
 4   Q75       3130 non-null   float64
 5   IQR       3130 non-null   float64
 6   skew      3130 non-null   float64
 7   kurt      3130 non-null   float64
 8   sp.ent    3130 non-null   float64
 9   sfm       3130 non-null   float64
 10  mode      3130 non-null   float64
 11  centroid  3130 non-null   float64
 12  meanfun   3130 non-null   float64
 13  minfun    3130 non-null   float64
 14  maxfun    3130 non-null   float64
 15  meandom   3130 non-null   float64
 16  mindom    3130 non-null   float64
 17  maxdom    3130 non-null   float64
 18  dfrange   3130 non-null   float64
 19  modindx   3130 non-null   float64
 20  label     3130 non-null   object
dtypes: float64(20), object(1)
memory usage: 538.0+ KB

In [107]:
# converting dtyps into string 
df[cols]= df[cols].astype(str)

In [108]:
df.dtypes

meanfreq    object
sd          object
median      object
Q25         object
Q75         object
IQR         object
skew        object
kurt        object
sp.ent      object
sfm         object
mode        object
centroid    object
meanfun     object
minfun      object
maxfun      object
meandom     object
mindom      object
maxdom      object
dfrange     object
modindx     object
label       object
dtype: object

In [111]:
#using label encoder to convert target into numbers
le = LabelEncoder()
df[cols]=df[cols].apply(LabelEncoder().fit_transform)

In [113]:
df.dtypes

meanfreq    int64
sd          int64
median      int64
Q25         int64
Q75         int64
IQR         int64
skew        int64
kurt        int64
sp.ent      int64
sfm         int64
mode        int64
centroid    int64
meanfun     int64
minfun      int64
maxfun      int64
meandom     int64
mindom      int64
maxdom      int64
dfrange     int64
modindx     int64
label       int64
dtype: object

In [116]:
df

,meanfreq,sd,median,Q25,Q75,IQR,skew,kurt,sp.ent,sfm,...,centroid,meanfun,minfun,maxfun,meandom,mindom,maxdom,dfrange,modindx,label
0,3,2228,6,32,3,1299,1300,1030,1376,2136,...,3,56,44,117,0,1,0,0,0,1
1,5,2373,9,42,4,1286,2430,2372,1345,2255,...,5,462,52,95,4,1,3,7,61,1
2,8,2927,8,23,9,2583,2943,147,516,2058,...,8,246,41,113,1,1,1,1,34,1
4,239,2794,202,322,637,2679,138,1397,3098,3097,...,239,424,119,109,1347,1,741,784,2260,1
5,208,2811,163,276,805,2784,1193,2767,2977,2992,...,208,532,128,98,463,1,388,413,1238,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3163,199,2953,503,178,458,2852,954,2236,2969,3055,...,199,2758,864,105,1588,1,602,642,1844,0
3164,98,3055,39,144,599,2900,13,882,2937,2905,...,98,2887,533,117,1735,11,515,552,2592,0
3165,328,3108,1274,96,1460,3009,1115,2226,2751,2761,...,328,3101,577,117,869,1,407,430,2163,0
3166,344,3071,1326,152,1251,2978,689,1808,2807,2827,...,344,2448,534,95,1498,1,503,545,2707,0
3167,828,3094,1242,284,2579,2993,871,1937,2590,2609,...,828,2826,815,113,326,1,66,77,2798,0

In [118]:
x = df.drop('label',axis=1)
y = df.label

In [120]:
print(x.dtypes)
print(y.dtypes)

meanfreq    int64
sd          int64
median      int64
Q25         int64
Q75         int64
IQR         int64
skew        int64
kurt        int64
sp.ent      int64
sfm         int64
mode        int64
centroid    int64
meanfun     int64
minfun      int64
maxfun      int64
meandom     int64
mindom      int64
maxdom      int64
dfrange     int64
modindx     int64
dtype: object
int64

In [125]:
km = KMeans(n_clusters=5 )
km

KMeans(n_clusters=5)

In [ ]:
km.fit()